/*base*/
[data-theme="dark"] html{background: #1E1E1E;color: #fefefe;}
[data-theme="dark"] body {background: #1E1E1E;color: #fefefe;}
[data-theme="dark"] .item-menu.wsub .subbox{background:#212121;}
[data-theme="dark"] .cl-black{color:#FEFEFE !important;}
[data-theme="dark"] .cl-white{color:#212121 !important;}
[data-theme="dark"] .cl-white2{color:#313131 !important;}
[data-theme="dark"] .cl-dark{color:#cccccc !important;}
[data-theme="dark"] .bg-black{background:#FEFEFE !important;}
[data-theme="dark"] .bg-white{background:#212121 !important;}
[data-theme="dark"] .bg-white2{background:#313131 !important;}
[data-theme="dark"] .bg-dark{background:#cccccc !important;}
[data-theme="dark"] .bg-text{background:#f5f5f5 !important;}
[data-theme="dark"] a {color: #FEFEFE;text-decoration: none;}
[data-theme="dark"] a:hover {color:rgba(255,255,255,0.7);}
[data-theme="dark"] a:focus {color:rgba(255,255,255,0.7);}
[data-theme="dark"] .item-menu.single-dropdown a{color:#fefefe;}
[data-theme="dark"] ul.pagging li a {color:#fefefe;}
[data-theme="dark"] .box-share-top .share-link a.top-share svg.svg-light{fill:none; stroke:#fefefe;}
/*banner*/
[data-theme="dark"] .adskins{background:#252525;}
[data-theme="dark"] .banner970x250{background:#252525;}
[data-theme="dark"] .banner300x250{background:#252525;}
[data-theme="dark"] .banner300x600{background:#252525;}
[data-theme="dark"] .banner970x120{background:#252525;}
[data-theme="dark"] .banner728x90{background:#252525;}
/*elementbox*/
[data-theme="dark"] a.sign-btn.line{border-color:#fefefe; color:#fefefe;}
[data-theme="dark"] .switchslider {background-color: #fefefe;}
[data-theme="dark"] .switchslider:before {background-color:#212121;}
[data-theme="dark"] input:checked + .switchslider {background-color: #fefefe;}
[data-theme="dark"] input:focus + .switchslider {box-shadow: 0 0 1px #fefefe;}
[data-theme="dark"] a.sign-btn.line.clean{color:#FEFEFE;}
[data-theme="dark"] button.sign-btn.line{border-color:#fefefe; color:#fefefe;}
/*header footer & Slider*/
[data-theme="dark"] .header{background:#212121;}
[data-theme="dark"] .slider-menu .slick-prev{background:#212121;color:#FEFEFE; transition:none;}
[data-theme="dark"] .slider-menu .slick-next{background:#212121;color:#FEFEFE; transition:none;}
[data-theme="dark"] .footer{background:#191919;}
/*menu*/
[data-theme="dark"] .item-menu.wsub .item-submenu a:hover{background:#191919;}
[data-theme="dark"] .svg-light{fill:none; stroke:#fefefe;}
[data-theme="dark"] .svg-light-fill{stroke:#fefefe; fill:#fefefe;}
[data-theme="dark"] .item-menu.single-dropdown a .img-profile{border-color:#212121;}
[data-theme="dark"] .element-box.search-top .search-popular{background:#212121;}
[data-theme="dark"] ul.row-list.list-search-popular li a{border:1px solid #fefefe;}
[data-theme="dark"] ul.row-list.list-search-popular li a:hover{background:#191919; border-color:#ddd;}
[data-theme="dark"] .element-box.search-top .cl-dark{color:#212121 !important;}
/*cardbox*/
[data-theme="dark"] .card-box .text-card p{color:#ddd;}
[data-theme="dark"] .card-box .text-card h1.title{color:#fefefe;}
[data-theme="dark"] .card-box .text-card h2.title{color:#fefefe;}
[data-theme="dark"] .card-box .text-card h3.title{color:#fefefe;}
[data-theme="dark"] .card-box .text-card h4.title{color:#fefefe;}
[data-theme="dark"] .card-box .text-card p{color:#ddd;}
/*menu profile*/
[data-theme="dark"] .menu-dd-profile .no-link{color:#fefefe !important;}
[data-theme="dark"] .menu-dd-profile a{color:#fefefe !important;}
[data-theme="dark"] .menu-dd-profile a:hover{color:rgba(255,255,255,0.7) !important; background:#191919;}
[data-theme="dark"] .item-menu.wsub .icon-menu{color:#fefefe !important;}
/*artikel*/
[data-theme="dark"] .detail-artikel .detail-in p{color:#fefefe;}
[data-theme="dark"] .detail-artikel.berikutnya::before{background:#252525 !important;}
[data-theme="dark"] .box-komentar{border-color:#252525;}
[data-theme="dark"] .box-newsletter{background:#252525;}
[data-theme="dark"] .box-rating{background:#252525;}
[data-theme="dark"] .box-komentar .box-input-balasan{background:#212121;}
[data-theme="dark"] .box-komentar .box-balasan{background:#212121;}
/*popup*/
[data-theme="dark"] .white-popup-block .pops-header{background:#212121;}
[data-theme="dark"] .white-popup-block{background:#212121;}
[data-theme="dark"] .eye-btn{color:#747474 !important;}
[data-theme="dark"] .eye-btn2{color:#747474 !important;}
[data-theme="dark"] .eye-btn3{color:#747474 !important;}
[data-theme="dark"] .mfp-close-btn-in .mfp-close{color:#fefefe;}
/*profile*/
[data-theme="dark"] .box-avatar .text-avatar h3.title{color:#fefefe;}
[data-theme="dark"] .box-info-profile .box-inside h2.title{color:#fefefe;}
[data-theme="dark"] .box-info-profile{border-color:#252525;}
[data-theme="dark"] .box-info-profile .box-inside{border-color:#252525;}
[data-theme="dark"] .box-inside h3.title {color:#fefefe;}
[data-theme="dark"] .box-inside h1.title {color:#fefefe;}
[data-theme="dark"] .box-tag-detail.favorit a{color:#fefefe; border-color:#fefefe;}
[data-theme="dark"] .container.small .download-apps{background:#252525; border-color:#424242;}
[data-theme="dark"] .blockbox .redline{background:#212121;}
[data-theme="dark"] .blockbox .redline h2.titlebox{background:#212121;}
[data-theme="dark"] .blockbox.wtline{border-color:#252525;}
[data-theme="dark"] .slider-pilihan .slick-prev, [data-theme="dark"] .slider-pilihan .slick-next{background:#212121; color:#fefefe;}
/*Newstyle Dark*/
[data-theme="dark"] p.title_widget{background:#212121;}
[data-theme="dark"] .penymbangbahan p {color: #fefefe;;}
[data-theme="dark"] .box-avatar .text-avatar a {color: #fefefe;}
[data-theme="dark"] .text-avatar p.title {color: #757575;}
[data-theme="dark"] .koreksi p {color: #fefefe;}
[data-theme="dark"] .title p {color: #fefefe;}
[data-theme="dark"] .detail-artikel .detail-in p a {color: #757575;}
[data-theme="dark"] .detail-artikel .detail-in p a:hover {color: #757575;}
[data-theme="dark"] .newblur-pwcontain .pw-containers { background: rgba(47, 47, 47, .1); }
[data-theme="dark"] p.silahkanberlangganan { color: #FEFEFE !important }
[data-theme="dark"] p.smallers { color: #FAFAFA !important; }
[data-theme="dark"] p.smallers a { color: #FAFAFA !important; }
[data-theme="dark"] .drkdif { background: #363535; }
[data-theme="dark"] .is_pwl ul li { list-style: none; color: #eee; }
[data-theme="dark"] p.paketlainnya a { color: #EEEEEE !important; }
[data-theme="dark"] .pw-akun { background: #363535 !important; border:transparent; color: #FEFFFF; }
[data-theme="dark"] .pw-akun span.fred { color: #fdd835; }
[data-theme="dark"] .btn-round-pwl { border: 1px solid #EEEEEE; }
[data-theme="dark"] .newblur-pwcontain .pw-containers { border: 1px solid #9E9E9E; }
[data-theme="dark"] .newblur-pwcontain{margin-top:-120px;margin-bottom:24px;z-index:9;background:rgba(255,255,255,.2);border-radius:0;padding:140px 0 0 0;backdrop-filter:blur(1px);-webkit-backdrop-filter:blur(1px);position:relative;height:auto;background:-moz-linear-gradient(top,hsla(0,0%,12%,.2) 0,#1E1E1E 10%);background:-webkit-linear-gradient(top,hsla(0,0%,12%,.2),#1E1E1E 10%);background:linear-gradient(180deg,hsla(0,0%,12%,.2),#1E1E1E 10%);filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr=" #0ff ", endColorstr=" #fff ",GradientType=0 )"}
[data-theme="dark"] .bgmodal a.daftarDisini { color: #424242 !important; }
[data-theme="dark"] .bgmodals a.daftarDisini { color: #424242 !important; }
[data-theme="dark"] .bgmodal a.masukDisini { color: #424242 !important; }
[data-theme="dark"] .bgmodals a.masukDisini { color: #424242 !important; }
[data-theme="dark"] .faq__question{margin:0;background-color:#212121!important;border:1px solid #EEE;cursor:pointer;padding:16px;width:100%;text-align:left;outline:none;font-size:14px;font-weight:500;line-height:1.5;position:relative;padding-left:48px;transition:all 0.2s ease;font-family:'Open Sans';font-style:normal;font-weight:700;font-size:18px;line-height:125%;color:#FDD835}
[data-theme="dark"] .faq__panel.faq__panel_active ul li::marker{color:#FDD835;font-size:2.5em}
[data-theme="dark"] .faq__panel_active{display:block;background:#212121!important}
[data-theme="dark"] .faq__panel_active ul li p{font-family:'Publico Text Web';font-style:normal;font-weight:400;font-size:18px!important;line-height:150%;color:#EEEEEE!important}
[data-theme="dark"] .faq__question_active{background:#212121!important}